<div class="container">
  <div class="tab">
    <ul>
      <li
        id="personalform"
        [class.color]="id === 'personalform'"
        (click)="tabchange('personalform')"
      >
        Personal Detail
      </li>
    </ul>
    <div class="content">
      <div class="content-value" *ngIf="id === 'personalform'">
        <div class="container-form">
          <form
            action=""
            [formGroup]="myForm"
            (ngSubmit)="storing(this.myForm.value)"
          >
            <div class="row">
              <div class="col-25">
                <label for="fname">First Name</label>
              </div>
              <div class="col-75">
                <input
                  type="text"
                  id="fname"
                  formControlName="fname"
                  class="form-control"
                  placeholder="enter name.."
                />
                <div *ngIf="!fname?.valid && (fname?.dirty || fname?.touched)">
                  <div [hidden]="!fname.errors.required" class="text-danger">
                    First Name is required
                  </div>
                  <div [hidden]="!fname.errors.minlength" class="text-danger">
                    Min Length is 10
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="lname">Last Name</label>
              </div>
              <div class="col-75">
                <input
                  type="text"
                  id="lname"
                  formControlName="lname"
                  class="form-control"
                  placeholder="enter last name.."
                />
                <div *ngIf="!lname.valid && (lname.dirty || lname.touched)">
                  <div [hidden]="!lname.errors.pattern" class="text-danger">
                    Only characters are allowed
                  </div>
                  <div [hidden]="!lname.errors.maxLength" class="text-danger">
                    Max length allowed is
                    {{ lname.errors.maxlength?.requiredLength }}
                  </div>
                  <div [hidden]="!lname.errors.required" class="text-danger">
                    Last Name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="patientid">Patient Id:</label>
              </div>
              <div class="col-75">
                <input
                  type="text"
                  id="patientid"
                  formControlName="patientid"
                  class="form-control"
                  placeholder="enter patientid"
                />
                <div
                  *ngIf="
                    !patientid.valid && (patientid.dirty || patientid.touched)
                  "
                  class="text-danger"
                >
                  <div
                    [hidden]="!patientid.errors.required"
                    class="text-danger"
                  >
                    patientid is required
                  </div>
                  <div [hidden]="!patientid.errors.email" class="text-danger">
                    invalid patientid id
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="dob">Date of Birth:</label>
              </div>
              <div class="col-75">
                <input
                  type="date"
                  id="dob"
                  formControlName="dob"
                  class="form-control"
                  placeholder="enter DOB"
                />
                <div
                  *ngIf="!dob.valid && (dob.dirty || dob.touched)"
                  class="text-danger"
                >
                  <div [hidden]="!dob.errors.required">dob is required</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="age">Age:</label>
              </div>
              <div class="col-75">
                <input
                  type="number"
                  id="number"
                  formControlName="age"
                  class="form-control"
                  placeholder="enter Age"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="bloodgroup">Blood Group:</label>
              </div>
              <div class="col-75">
                <input
                  type="text"
                  id="bloodgroup"
                  formControlName="bloodgroup"
                  class="form-control"
                  placeholder="enter bloodgroup"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <label for="gender">Gender</label>
              </div>
              <div class="col-75">
                <select
                  id="gender"
                  formControlName="gender"
                  class="form-control"
                >
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="mobileno">Mobile No:</label>
              </div>
              <div class="col-75">
                <input
                  type="text"
                  id="mobileno"
                  formControlName="mobileno"
                  class="form-control"
                  placeholder="enter mobileno"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="subject">Address</label>
              </div>
              <div class="col-75">
                <textarea
                  id="subject"
                  formControlName="address"
                  class="form-control"
                  placeholder="current location"
                  style="height: 200px"
                ></textarea>
              </div>
            </div>
            <div class="row">
              <input type="submit" value="Submit" (click)="addrecord()" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
