<section class="about" id="about">
  <h1 class="heading"><span>about</span> us</h1>

  <div class="row">
    <div class="image">
      <img src="../../assets/images/about-img.png" alt="about-img" />
    </div>

    <div class="content">
      <h3>we take care of your healthy life</h3>
      <p>
        Healthcare workers usually choose their profession to help heal others.
        What they didn’t necessarily sign on for is completing and documenting
        the mountains of patient records now required each day themselves.
      </p>
      <p>
        However, we do know that proper documentation of healthcare records
        helps facilitate better patient care, reduces errors and keeps current
        and future providers informed about a patient’s condition.
      </p>
      <a href="#" class="btn">
        learn more <span class="fas fa-chevron-right"></span>
      </a>
    </div>
  </div>
</section>
