<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>quick links</h3>
      <a href="../home/home.component.html">
        <em class="fas fa-chevron-right"></em> home
      </a>
      <a routerLink="/service" routerLinkActive="active">
        <em class="fas fa-chevron-right"></em> services
      </a>
      <a routerLink="/about" routerLinkActive="active">
        <em class="fas fa-chevron-right"></em> about
      </a>
      <a routerLink="/help" routerLinkActive="active">
        <em class="fas fa-chevron-right"></em> help
      </a>
      <a routerLink="/contact" routerLinkActive="active">
        <em class="fas fa-chevron-right"></em> contact us
      </a>
    </div>

    <div class="box">
      <h3>our services</h3>
      <a href="#"> <em class="fas fa-chevron-right"></em> dental care </a>
      <a href="#"> <em class="fas fa-chevron-right"></em> message therapy </a>
      <a href="#"> <em class="fas fa-chevron-right"></em> cardioloty </a>
      <a href="#"> <em class="fas fa-chevron-right"></em> diagnosis </a>
      <a href="#"> <em class="fas fa-chevron-right"></em> ambulance service </a>
    </div>

    <div class="box">
      <h3>contact info</h3>
      <a href="#"> <em class="fas fa-phone"></em> +123-456-7890 </a>
      <a href="#"> <em class="fas fa-phone"></em> +111-222-3333 </a>
      <a href="#"> <em class="fas fa-envelope"></em> who.health@gmail.com </a>
      <a href="#"> <em class="fas fa-envelope"></em> medcare@gmail.com </a>
      <a href="#"> <em class="fas fa-map-marker-alt"></em> india - 400104 </a>
    </div>

    <div class="box">
      <h3>follow us</h3>
      <a href="#"> <em class="fab fa-facebook-f"></em> facebook </a>
      <a href="#"> <em class="fab fa-twitter"></em> twitter </a>
      <a href="#"> <em class="fab fa-instagram"></em> instagram </a>
      <a href="#"> <em class="fab fa-linkedin"></em> linkedin </a>
      <a href="#"> <em class="fab fa-pinterest"></em> pinterest </a>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
