<section>
  <div class="dashboard">
    <a class="btn" (click)="logout()">Logout</a>
  </div>
  <div class="container">
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../assets/images/addimage3.png" alt="addimage3" />
        </div>
        <div class="contentBx">
          <h3>Add new patient<br /><span>tap to Add new patient</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li>
          <a routerLink="/quarantinedetail" routerLinkActive="active"
            >Add patient</a
          >
        </li>
      </ul>
    </div>
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../assets/images/addimage4.png" alt="addimage4" />
        </div>
        <div class="contentBx">
          <h3>Additional Info<br /><span>Tap to add more info</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li>
          <a routerLink="/guardiandetail" routerLinkActive="active"
            >Update More Info</a
          >
        </li>
      </ul>
    </div>
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../assets/images/addimage5.png" alt="add-image" />
        </div>
        <div class="contentBx">
          <h3>Edit Record<br /><span>Tap to edit Record</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li>
          <a routerLink="/patientpage" routerLinkActive="active">Edit Record</a>
        </li>
      </ul>
    </div>
  </div>
</section>
