<section>
  <div class="container">
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../assets/images/addimage3.png" />
        </div>
        <div class="contentBx">
          <h3>Add record<br /><span>tap to Add new record</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li>
          <a routerLink="/quarantinedetail" routerLinkActive="active"
            >Add details</a
          >
        </li>
      </ul>
    </div>
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../assets/images/addimage4.png" />
        </div>
        <div class="contentBx">
          <h3>Existing Records<br /><span>Tap to edit records</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li>
          <a routerLink="/guardiandetail" routerLinkActive="active"
            >Update details</a
          >
        </li>
      </ul>
    </div>
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../assets/images/addimage5.png" />
        </div>
        <div class="contentBx">
          <h3>Death Records<br /><span>Tap to add Death cases</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li>
          <a href="">Add details</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="dashboard">
    <a class="btn">Go to Dashboard</a>
  </div>
</section>
