<header class="header">
  <a routerLink="/home" routerLinkActive="active" class="logo">
    <em class="fas fa-heartbeat"></em> medcare.
  </a>

  <nav class="navbar">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/service" routerLinkActive="active">Services</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/contact" routerLinkActive="active">contact us</a>
    <a routerLink="/help" routerLinkActive="active">Help</a>
    <a routerLink="/signup" routerLinkActive="active">Signup</a>
  </nav>

  <div id="menu-btn" class="fas fa-bars"></div>
</header>
<router-outlet></router-outlet>
