<section class="book" id="book">
  <div class="heading">Contact <span> Us</span></div>

  <div class="row">
    <div class="image">
      <img src="../../assets/images/book-img.svg" alt="book" />
    </div>

    <form action="">
      <h3>Send Mail</h3>
      <input type="text" placeholder="your name" class="box" />
      <input type="text" placeholder="your patientId" class="box" />
      <input type="email" placeholder="your email" class="box" />
      <input type="text" class="box" placeholder="write here" />
      <input type="submit" value="send mail" class="btn" />
    </form>
  </div>
</section>
<app-footer></app-footer>
