<!-- <section id="contact" class="contact py">
  <div class="container grid">
    <div class="contact-left">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2384.6268289831164!2d-6.214682984112116!3d53.29621947996855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486709e0c9c80f8f%3A0x92f408d10f2277c2!2sREVO!5e0!3m2!1sen!2snp!4v1636264848776!5m2!1sen!2snp"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
    <div class="contact-right text-white text-center bg-blue">
      <div class="contact-head">
        <h3 class="lead">Contact Us</h3>
        <p class="text text-md">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga.
        </p>
      </div>
      <form>
        <div class="form-element">
          <input type="text" class="form-control" placeholder="Your name" />
        </div>
        <div class="form-element">
          <input type="email" class="form-control" placeholder="Your email" />
        </div>
        <div class="form-element">
          <textarea
            rows="5"
            placeholder="Your Message"
            class="form-control"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-white btn-submit">
          <i class="fas fa-arrow-right"></i> Send Message
        </button>
      </form>
    </div>
  </div>
</section>
<app-footer></app-footer> -->
<!-- end of contact section -->
<section class="book" id="book">
  <div class="heading">Contact <span> Us</span></div>

  <div class="row">
    <div class="image">
      <img src="../../assets/images/book-img.svg" alt="book" />
    </div>

    <form action="">
      <h3>Send Mail</h3>
      <input type="text" placeholder="your name" class="box" />
      <input type="text" placeholder="your patientId" class="box" />
      <input type="email" placeholder="your email" class="box" />
      <input type="text" class="box" placeholder="write here" />
      <input type="submit" value="send mail" class="btn" />
    </form>
  </div>
</section>
<app-footer></app-footer>
