<form class="modal-content animate" [formGroup]="patientlogin">
  <div class="imgcontainer">
    <span
      routerLink="/home"
      routerLinkActive="active"
      class="close"
      title="Close Modal"
      >&times;</span
    >
    <img src="../../assets/images/avatar2.png" alt="Avatar" class="avatar" />
  </div>

  <div class="container">
    <div>
      <label for="uname"><strong>Patient Id</strong></label>
      <input
        type="text"
        placeholder="Enter your Id"
        formControlName="Patientid"
        required
      />
      <div
        *ngIf="
          patientlogin.get('Patientid').invalid &&
          (patientlogin.get('Patientid').dirty ||
            patientlogin.get('Patientid').touched)
        "
        class="text-danger"
      >
        Please provide a Patient Id !
      </div>
    </div>
    <div>
      <label for="dob"><strong>mobileno:</strong></label>
      <input
        type="number"
        placeholder="Enter Password"
        formControlName="mobileno"
        required
      />
      <div
        *ngIf="
          patientlogin.get('mobileno').invalid &&
          (patientlogin.get('mobileno').dirty ||
            patientlogin.get('mobileno').touched)
        "
        class="text-danger"
      >
        Please enter your password !
      </div>
    </div>

    <button type="submit" (click)="adminFormData(this.patientlogin.value)">
      Login
    </button>
    <label>
      <input type="checkbox" checked="checked" name="remember" /> Remember me
    </label>
  </div>

  <div class="container" style="background-color: #f1f1f1">
    <button type="reset" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
<router-outlet></router-outlet>
