<h1>Personal Information</h1>
<div class="search">
  <input type="text" [(ngModel)]="search" placeholder="search here" />
  <img src="../../assets/images/search-icon-dark.png" alt="search" />
</div>
<table class="table" id="personalform">
  <caption>
    Patient personal data
  </caption>
  <thead>
    <tr>
      <th>fname</th>
      <th>lname</th>
      <th>patientid</th>
      <th>dob</th>
      <th>age</th>
      <th>bloodgroup</th>
      <th>gender</th>
      <th>mobileno</th>
      <th>address</th>
      <th>update</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of personalData | filter: search">
      <td>{{ user.fname }}</td>
      <td>{{ user.lname }}</td>
      <td>{{ user.patientid }}</td>
      <td>{{ user.dob }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.bloodgroup }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.mobileno }}</td>
      <td>{{ user.address }}</td>
      <td>
        <a class="btn" (click)="addAdditionalInfo(user._id, 'info')">
          Add info
        </a>
      </td>
      <td>
        <button class="btn" (click)="delete(user._id, user._rev)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
