<section class="services" id="services">
  <h1 class="heading">our <span>services</span></h1>

  <div class="box-container">
    <div class="box">
      <em class="fas fa-notes-medical"></em>
      <h3>free checkups</h3>
      <p>
        Annual health checkups are full body checkups done to keep a track of
        one’s overall health.
      </p>
      <a href="#" class="btn">
        learn more <span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <em class="fas fa-ambulance"></em>
      <h3>24/7 ambulance</h3>
      <p>helps to save the life of any medical emergency patients.</p>
      <a href="#" class="btn">
        learn more <span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <em class="fas fa-user-md"></em>
      <h3>expert doctors</h3>
      <p>
        All Healthspring Doctors come with a wealth of experience in their
        respective domains.
      </p>
      <a href="#" class="btn">
        learn more <span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <em class="fas fa-pills"></em>
      <h3>medicines</h3>
      <p>Medicines can treat diseases and improve your health.</p>
      <a href="#" class="btn">
        learn more <span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <em class="fas fa-procedures"></em>
      <h3>bed facility</h3>
      <p>hospital bed specially designed for hospitalized patients.</p>
      <a href="#" class="btn">
        learn more <span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <em class="fas fa-heartbeat"></em>
      <h3>total care</h3>
      <p>
        Your family's healthcare is our top priority. With four convenient
        Primary & Urgent Care .
      </p>
      <a href="#" class="btn">
        learn more <span class="fas fa-chevron-right"></span>
      </a>
    </div>
  </div>
</section>
