<section class="home" id="home">
  <div class="image">
    <img src="../../assets/images/home-img.svg" alt="home" />
  </div>

  <div class="content">
    <h3>stay safe, stay healthy</h3>
    <p>
      To prevent the infection socially, the lockdown was imposed globally,
      which resulted in the halt of all economic and social activity in society.
    </p>
    <a routerLink="/adminlogin" routerLinkActive="active" class="btn">
      Adminlogin <span class="fas fa-chevron-right"></span>
    </a>
    <a routerLink="/patientlogin" routerLinkActive="active" class="btn">
      Patientlogin <span class="fas fa-chevron-right"></span>
    </a>
  </div>
</section>

<app-banner></app-banner>
<app-service></app-service>
<app-about></app-about>
<app-footer></app-footer>
<router-outlet></router-outlet>
