<header class="header bg-blue">
  <div class="header-inner text-white text-center">
    <div class="container grid">
      <div class="header-inner-left">
        <h1>
          your most trusted<br />
          <span>health partner</span>
        </h1>
        <p class="lead">the best match services for you</p>
        <marquee
          direction="up"
          behavior="scroll"
          scrollamount="3"
          class="text text-md"
        >
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam, nulla
          odit esse necessitatibus corporis voluptatem?
        </marquee>
        <div class="btn-group">
          <a
            class="btn btn-white"
            routerLink="/adminlogin"
            routerLinkActive="active"
            >Admin Login</a
          >
          <a
            class="btn btn-light-blue"
            routerLink="/patientlogin"
            routerLinkActive="active"
            >Patient Login</a
          >
        </div>
      </div>
      <div class="header-inner-right">
        <!-- <img src="../../assets/images/c20.jpg" /> -->
      </div>
    </div>
  </div>
</header>
<app-banner></app-banner>
<app-footer></app-footer>
<router-outlet></router-outlet>
