<!-- <section id="banner-one" class="banner-one text-center">
  <div class="container text-white">
    <blockquote class="lead">
      <i class="fas fa-quote-left"></i> When you are young and healthy, it never
      occurs to you that in a single second your whole life could change.
      <i class="fas fa-quote-right"></i>
    </blockquote>
    <small class="text text-sm">- Anonim Nano</small>
  </div>
</section> -->
<section class="icons-container">
  <div class="icons">
    <i class="fas fa-user-md"></i>
    <h3>140+</h3>
    <p>doctors at work</p>
  </div>

  <div class="icons">
    <i class="fas fa-users"></i>
    <h3>1040+</h3>
    <p>satisfied patients</p>
  </div>

  <div class="icons">
    <i class="fas fa-procedures"></i>
    <h3>500+</h3>
    <p>bed facility</p>
  </div>

  <div class="icons">
    <i class="fas fa-hospital"></i>
    <h3>80+</h3>
    <p>available hospitals</p>
  </div>
</section>
