<section class="icons-container">
  <div class="icons">
    <em class="fas fa-user-md"></em>
    <h3>140+</h3>
    <p>doctors on duty</p>
  </div>

  <div class="icons">
    <em class="fas fa-users"></em>
    <h3>1040+</h3>
    <p>Recovered patients</p>
  </div>

  <div class="icons">
    <em class="fas fa-procedures"></em>
    <h3>500+</h3>
    <p>bed facility</p>
  </div>

  <div class="icons">
    <em class="fas fa-hospital"></em>
    <h3>80+</h3>
    <p>available hospitals</p>
  </div>
</section>
